<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <title>Layout</title>
  </head>
  <body>

    {{{body}}}

    <style>
      :root { --brandColor: hsl(166, 67%, 51%); --background: rgb(247, 247,
      247); --textDark: hsla(0, 0%, 0%, 0.66); --textLight: hsla(0, 0%, 0%,
      0.33); } body { background: var(--background); height: 100vh; color:
      var(--textDark); } .field:not(:last-child) { margin-bottom: 1rem; }
      .register { margin-top: 10rem; background: white; border-radius: 10px; }
      .left, .right { padding: 4.5rem; } .left { border-right: 5px solid
      var(--background); } .left .title { font-weight: 800; letter-spacing:
      -2px; } .left .colored { color: var(--brandColor); font-weight: 500;
      margin-top: 1rem !important; letter-spacing: -1px; } .left p { color:
      var(--textLight); font-size: 1.15rem; } .right .title { font-weight: 800;
      letter-spacing: -1px; } .right .description { margin-top: 1rem;
      margin-bottom: 1rem !important; color: var(--textLight); font-size:
      1.15rem; } .right small { color: var(--textLight); } input { font-size:
      1rem; } input:focus { border-color: var(--brandColor) !important;
      box-shadow: 0 0 0 1px var(--brandColor) !important; } .fab, .fas { color:
      var(--textLight); margin-right: 1rem; }

    </style>
  </body>
</html>